@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Catamaran:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

body{
    padding: 0;
    margin: 0;
    color: white;
    background-image: linear-gradient(90deg, rgb(43, 77, 130),rgb(40, 144, 172));
    margin-left: 5%;
    margin-right: 5%;
    overflow-x: hidden;
}

/*----------Cabecera, barra de navegación y submenú--------*/

header{
    padding-right:10%;
    padding-left:10%;
    background-color: transparent;
    color: white;

}

header a {
    text-decoration: none;
    color: white;
    font-family: Bree Serif;
    font-size: 115%;
}

.nav-and-logo{
    display: flex;
    align-items:center;
    justify-content:space-between;
}

.nav-and-logo li{
    position: relative;
}

nav > ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

div.nav-bar > li{
    position: relative;
    display: inline-block;
}

nav > ul > li > a{
    display: block;
    padding: 3%;
}

div.nav-bar li > a:hover{
    color: #10273e;
}

div.nav-bar > li:nth-child(3){
    padding-left: 8%;
    padding-right: 8%;
    margin-left: 10%;
    margin-right: 9%;
    border-left: 2px solid rgba(255,255,255,0.5);
    border-right: 2px solid rgba(255,255,255,0.5);
}

div.nav-bar li:nth-child(4){
    margin-right: -9999999999%;
}

/*------- Submenú -----------*/

.submenu_contact{
    display: none;
    position:absolute;
    border-right: 1px  solid white;
    border-bottom: 1px  solid white;
    border-left: 1px  solid white;
    background-image: linear-gradient(360deg, rgb(43, 77, 130),rgb(40, 144, 172));
    list-style: none;
    padding-left: 0.3%;
    padding-right: 0.3%;
}

.submenu_contact > li{
    transition: .3s all ease-in;
    padding-bottom: 6%;
    padding-top: 6%;
    border-bottom: 1px solid white;
}

.submenu_contact > li:nth-child(4){
    border: none;
}

.submenu_contact a{
    font-size: 120%;
}

.contact a:hover{
    color: #10273e;
}

.nav-bar li:hover li{
    display: block;
    transition: .3s all ease-in;
}

/*-------Fin Submenú ---------*/

/*-------- Fin Cabecera, barra de navegación y Submenú ------*/

/*----------- Logo ---------*/

div.logo-and-name{
    display: flex;
    justify-items: space-around;
    align-items: center;
    margin: -50px;
    padding: 0;
}

span.logo{
    display: flex;
    justify-items: center;
    align-items: center;
    font-family: Alfa Slab One;
    font-size: 300%;
    margin: 0;
    padding: 0;
}

div.name{
    padding:1%;
    margin-left: 1%;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Catamaran;
    font-size: 110%;
    font-weight: bold;
    
}

div.name p:first-child{
    margin-bottom: -25px;
}

/*------ Fin logo ------*/

/*------- Perfil ------*/

div.perfil-completo{
    display: flex;
    align-items: center;
    margin-top: 3%;
    transition: all 1s;
}

div.perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 6%;
    order: 2;
}

div.perfil img{
    width: 50%;
    border-radius: 150px;
    border: 5px solid white;
}

div.perfil p:nth-child(2), div.perfil p:nth-child(3){
    font-family:'Franklin Gothic Medium';
    color: #10273e;
    font-size: 160%;
}

div.perfil p:nth-child(2){
    margin-bottom: -5%;
}

div.perfil p:nth-child(3){
    margin-bottom: -1%;
}

div.perfil p:nth-child(4), div.perfil p:nth-child(5), div.perfil p:nth-child(6){
    margin-bottom: -2%;
    font-weight:900;
}

/*------ Fin Perfil ------ */

/*------ Lista tecnologías ------*/

div.lista-tecno{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    order: 3;
    font-size: 120%;
}

div.lista-tecno ul li{
    list-style:square;
    font-size: 120%;
}

div.lista-tecno h2{
    font-family: Merriweather Sans;
    color: #10273e;
}

/*------ Fin Lista tecnologías ------*/

/*------ Info Personal -----*/

div.biografia{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    order: 1;
}

div.biografia h2{
    font-family: Merriweather Sans;
    color: #10273e;
    margin-bottom: -1%;
}

/*------ Fin Info Personal -----*/

/*------ Todo el perfil (lista de tecnologías, info personal y perfil) ------*/

div.perfil-completo p{
    font-family: Karla;
    font-size: 130%;
    font-weight: bold;
    color: white;
}

/*------ Fin Todo el perfil (lista de tecnologías, info personal y perfil) ------*/


















