@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Catamaran:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

body{
    padding: 0;
    margin: 0;
    color: white;
    background-image: linear-gradient(90deg, rgb(43, 77, 130),rgb(40, 144, 172));
    margin-left: 5%;
    margin-right: 5%;
}

/*----------Cabecera y Barra de navegación--------*/

header{
    padding-right:10%;
    padding-left:10%;
    background-color: transparent;
    color: white;
    border-bottom: 0.5px solid rgb(255, 255, 255);
}

header a {
    text-decoration: none;
    color: white;
    font-family: Bree Serif;
    font-size: 115%;
}

.nav-and-logo{
    display: flex;
    align-items:center;
    justify-content:space-between;
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    display: block;
    padding: 1%;
}

nav ul li a:hover{
    color: #f6a2cf;
}

div.nav-bar li:nth-child(2){
    padding-left: 8%;
    padding-right: 8%;
    margin-left: 10%;
    margin-right: 9%;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

div.nav-bar li:nth-child(3){
    margin-right: -500%;
}

/*-------- Fin Cabecera y barra de navegación ------*/

/*----------- Logo ---------*/

div.logo-and-name{
    display: flex;
    justify-items: space-around;
    align-items: center;
    margin: -50px;
    padding: 0;
}

div.logo{
    display: flex;
    justify-items: center;
    align-items: center;

    font-family: Alfa Slab One;
    font-size: 300%;
    margin: 0;
    padding: 0;
}

div.name{
    padding:1%;
    margin-left: 4%;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Catamaran;
    font-size: 110%;
    font-weight: bold;
}

div.name p:first-child{
    margin-bottom: -25px;
}

/*------ Fin logo ------*/

/*------- Perfil ------*/

div.perfil-completo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}

div.perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 6%;
    order: 2;
}

div.perfil img{
    width: 40%;
    border-radius: 150px;
    border: 5px solid white;
}

div.perfil p:nth-child(2), div.perfil p:nth-child(3){
    font-family:'Franklin Gothic Medium';
    color: #10273e;
    font-size: 160%;
}

div.perfil p:nth-child(2){
    margin-bottom: -5%;
}

div.perfil p:nth-child(3){
    margin-bottom: -1%;
}

div.perfil p:nth-child(4), div.perfil p:nth-child(5), div.perfil p:nth-child(6){
    margin-bottom: -2%;
    font-weight:900;
}

/*------ Fin Perfil ------ */

/*------ Lista tecnologías ------*/

div.lista-tecno{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    order: 3;
    font-size: 120%;
}

div.lista-tecno ul li{
    list-style:square;
    font-size: 120%;
}

div.lista-tecno h2{
    font-family: Merriweather Sans;
    color: #10273e;
}

/*------ Fin Lista tecnologías ------*/

/*------ Info Personal -----*/

div.biografia{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    order: 1;
}

div.biografia h2{
    font-family: Merriweather Sans;
    color: #10273e;
    margin-bottom: -1%;
}

/*------ Fin Info Personal -----*/

/*------ Todo el perfil (lista de tecnologías, info personal y perfil) ------*/

div.perfil-completo p{
    font-family: Karla;
    font-size: 130%;
    font-weight: bold;
    color: white;
}

/*------ Fin Todo el perfil (lista de tecnologías, info personal y perfil) ------*/


















